<div id="landing-page">
    <div id="landing-page-wrapper">
        <div class="bg-white text-center">
            <div style="display: none;" id="myName">
                <h2 class="font-orbitron pt-4 pb-0 mb-0" style="letter-spacing: 5px;">MyAssociateSite</h2>
                <h5 class="font-raleway pb-4"> Sign up! </h5>
            </div>
        </div>
        <div style="background-color: rgb(230,230,230)">
            <div class="d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
                <div class="p-3 bg-secondary shadow text-primary text-center" id="options" style="display: none;">
                    <h4 class="font-weight-light text-primary">Welcome!</h4>
                    <p>
                        Click below to order and set up your site!
                    </p>
                    <div class="d-flex justify-content-center">
                        {{!-- <i class="material-icons text-primary" style="font-size: 70px;">
                            input
                        </i> --}}
                        <a class="btn btn-primary btn-block mt-2 text-light" href="/form">Get Started!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/script.js"></script>