<div id="landing-page">
    <div id="landing-page-wrapper">
        <div class="bg-white text-center">
            <div style="display: none;" id="myName">
                <h2 class="font-orbitron pt-4 pb-0 mb-0" style="letter-spacing: 5px;">CHRISTIAN BROOKS</h2>
                <h5 class="font-raleway pb-4"> WEB DEVELOPER </h5>
            </div>
        </div>
        <div>
            <!-- content on picture -->
            <div class="d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
                <div class="p-3 bg-secondary shadow text-primary text-center" id="options" style="display: none;">
                    <h4 class="font-weight-light text-primary">Get Started!</h4>
                    <p>
                        Click here to order and set up your site!
                    </p>
                    <div class="row">
                        <div class="col">
                            <i class="material-icons text-primary" style="font-size: 70px;">
                                input
                            </i>
                            <button class="btn btn-primary mt-2">Start! </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/script.js"></script>