<div style="height: 100vh; padding: 50px 0; background-image: url(./images/form-2.jpeg); background-size: cover; background-repeat: no-repeat; background-position: bottom; ">
    <div class="p-5 text-light" style="background-color: rgba(0, 0, 0, 0.75); margin: 0 50px;">
        <h1 class="font-weight-light text-light">
            Success!
        </h1>
        <p>Thank you! You have successfully completed the form! We will be reaching out shortly to confirm your website
            creation
            and information!<br>
            <br>
            Christian Brooks<br>
            (803) 389-4244<br>
            christiandbrooks@gmail.com
        </p>
    </div>
</div>

<script src="./js/index.js"></script>